@page
@model IndexModel
@{
    ViewData["Title"] = "Registro";
}
    <div class="text-center">
        <h1 class="display-4">Registro de Clientes</h1>
    </div>
    <form asp-action="CreatePost" method="post">
        <div class="col-md-6 offset-md-3 text-center" >
            <div class="mb-3">
                <label>Nome</label>
                <input asp-for="@Model.Client.Name" type="text" class="form-control" id="firstName" placeholder="" value="" required="">
                <div class="invalid-feedback">
                    Valid first name is required.
                </div>
            </div>

            <div class="mb-3">
                <label>Email</label>
                <input asp-for="@Model.Client.Email" type="email" class="form-control" id="email" placeholder="you@example.com">
                <div class="invalid-feedback">
                    Please enter a valid email address for shipping updates.
                </div>
            </div>
            <div class="mb-3">
                <label>Data de Nascimento</label>
                <input asp-for="@Model.Client.DateOfBirth" type="date" class="form-control" id="birthday" placeholder="01/01/1900">
                <div class="invalid-feedback">
                    Insira uma data válida.
                </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Registrar</button>

        </div>
    </form>